**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/.next
**/dist
**/build
**/coverage
**/*.log
**/uploads
**/.turbo
**/jest.config.*
**/*.test.*
**/*.spec.*
**/Dockerfile*
**/docker-compose*
**/.github
**/README.md
**/CHANGELOG.md
